.todo-app {
    text-align: center;
    margin: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .brand-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
      typing 9.0s steps(30, end) infinite,
      blink-caret step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  
    to {
      width: 100%
    }
  }
  
  @keyframes blink-caret {
  
    from,
    to {
      opacity: 0
    }
  
    50% {
      opacity: 1
    }
  }
  
  .addtask{

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .todo-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 8px 30px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-item span {
    flex: 1;
    margin-right: 10px;
  }
  
  .btn {
    margin-left: 10px;
  }
  